name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: make application-db.yml
        run: |
          cd ./src/main/resources
          touch ./application-db.yml
          echo "${{ secrets.DATABASE }}" >> ./application-db.yml
        shell: bash

      - name: make application-oauth.yml
        run: |
          cd ./src/main/resources
          touch ./application-oauth.yml
          echo "${{ secrets.OAUTH }}" >> ./application-oauth.yml
        shell: bash

      - name: make application-server.yml
        run: |
          cd ./src/main/resources
          touch ./application-server.yml
          echo "${{ secrets.SERVER }}" >> ./application-server.yml
        shell: bash

      - name: create-json
        run: cd ./src/main/resources
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "firebase.json"
          json: ${{ secrets.FIREBASE }}

      - name: chmod
        run: sudo chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew bootJar

      - name: web docker build and push
        run: |
          docker login -u ${{ secrets.DOCKER_EMAIL }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_ID }}/weteam .
          docker push ${{ secrets.DOCKER_ID }}/weteam

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: |
            docker-compose down
            sudo docker pull ${{ secrets.DOCKER_ID }}/weteam
            docker-compose up -d
            docker image prune -f
